* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: "#2E3559";
}

.wrapper {
  width: 80%;
  height: 100%;
  align: center;
  background-color: "#956DA6";
  margin: 8px;
}
